<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Estudos/Estudos atualizados/SeleniumCourse/src/main/java/br/com/testngtutorial">
        <classes>
            <class name="br.com.testngtutorial.Test1">
                <methods>
                    <include name="test1"/>
                    <exclude name="test2"/>
                    <include name="test3"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>